* {
    margin 0;
    padding 0;
    }
    
body{
    font-family: 'Poppins', sans-serif;
}

    .cabeçalho {
        background-color: #1ae13b;
        color: #ffffff;
        display: flex;
        justify-content: space-around;
    }
    
    .cabeçalho-imagem {
        width: 10%;
    }
    
    .cabeçalho-lista-item{
        display: inline-block;
        margin: 0 16px;
    }

    .escola-imagem{
        width: 50%;
    }

    .Escola{
        background-image: linear-gradient(#1ae13b #ffff);
        color: black;
        display: flex;
        justify-content: center;
    }

    .escola-div-conteudo{
        width: 55%;
    }

    .escola-titulo{
        padding:25px;
    }

    .rodape{
        background-color:#1ae13b ;    